# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Listing Different categories raw data must pass through in data science
* Listing Different programming languages that are popular in data science
* Listing popular models used in data science under each language
* Listing popular development environment tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Plotly
3. Numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Tensor Flow  |

### Below are a few examples of evaluating arithmetic expressions in Python. ###

In [40]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [41]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Nischay Bagusetty